*
!/go.mod
!/go.sum
!/.golangci-long.yml
!/.golangci-short.yml
!/pyproject.toml
!/setup.cfg
!/internal/*
!/pkg/*
!/scripts/*
!/Makefile
!/env_docker.mk
!/thirdparty/*
!/docs/*
/docs/build
thirdparty/boringssl/build
