/.run/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Preprocessed file by sage
*.sage.py

# Dependency directories (remove the comment below to include it)
vendor/
venv/

# Editors
.idea/
testdata/
.*.swp
.*.sw?
.#*
\#*

# Mac
.DS_Store
.vscode

# Latex
docs/build/*
!docs/build/main.pdf

# golangci-lint Cache
/.golangcicache
/.gocache

/thirdparty/boringssl

/coverage.out
/coverage.html
