\documentclass[myheadings]{article}

    \input{src/headers/spec_header}
    \input{src/headers/spec_notation}

    \renewcommand{\thealgorithm}{} % remove algorithm numbering

    % Set header and footer: https://www.overleaf.com/learn/latex/Headers_and_footers
    \fancyhf{}
    \fancyhead[L]{ {{ pkg_url_cmd }} }
    \fancyhead[R]{\includegraphics[width=1.5cm]{src/assets/copper_logo_name.pdf}}
    \fancyfoot[L]{ Cryptographic Specification }
    \fancyfoot[R]{\footnotesize{© 2024 Copper.co. All rights reserved.}}

\begin{document}
    
    \pagestyle{fancy} % use header and footer

    {{ input_cmd }}

    \bibliographystyle{alpha}
    \bibliography{src/bib/tecdsa.bib,src/bib/refresh.bib,src/bib/primitives.bib,src/bib/tschnorr.bib,src/bib/various.bib,src/bib/tbls.bib}

\end{document}